html{
	height: 100%;
	margin: 1;
}

body{
    font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Website Title */
.container{
    padding: 1px;
	position: relative;
	background: linear-gradient(45deg, #388E3C, #4CAF50, #C8E6C9);
	background-size: 100% 100%;
	/*animation: change-gradient 10s ease-in-out infinite;*/
}
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 100%;
	}
	100%{
		background-position: 0 50%;
	}
}
.container-heading{
    margin: 0;
}
.diabetes {
  /* The image used */
  background-image: url("transparent.jpg");
    /* Control the height of the image */
  min-height: 180px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heading_font{
    	color: #ffffff;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	font-weight: normal;
}
.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #eee;
	  border-radius: 50%;
  }
.description p{
	    color: #ffffff;
	    font-style: italic;
	    font-size: 14px;
	    margin: -5px 0 0;
}

/* Text Area */
.ml-container{
    	margin: 30px 0;
	flex: 1 0 auto;
}
.form-input {
	text-align: center;
	width: 350px;
	height: 25px;
	margin-bottom: 5px;
	border: 2px solid green;
        border-radius: 4px;
}

/* Predict Button */
.my-cta-button{
	background: #00ff00;
   	border: 8px solid #000000;
    	border-radius: 1000px;
    	box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
    	padding: 20px 56px;
    	color: #000000;
    	display: inline-block;
   	font: italic bold 20px/1 "Calibri", serif;
    	text-align: center;
}

.my-cta-button:hover{
    color: #4d089a;
    border: 2px solid #4d089a;

}

.my-cta-button:active{
    box-shadow: 0 0;
}

/* Contact */
.contact-icon{
	color: #ffffff;
	padding: 7px;
}

.contact-icon:hover{
	color: #388E3C;
}

/* Footer */
.footer{
	flex-shrink: 0;
	position: relative;
	padding: 10px;
	background: linear-gradient(45deg, #388E3C, #4CAF50, #C8E6C9);
	background-size: 200% 200%;
	/*animation: change-gradient 10s ease-in-out infinite;*/
}

.footer-description{
	color: #ffffff;
	margin: 0;
	font-size: 20px;
}

/* Result */
.results{
    	padding: 40px 0 0;
	flex: 1 0 auto;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

.gif{
	width: 35%;
	margin: 20px 0;
}

.gif1{
	width: 35%;
    	margin: 20px 0;
}
