
<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Mellitus Prediction</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
           <h5 class='container-heading'><span class="heading_font">Screening Tool for Diabetes Mellitus.</span></h5><br>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}
			<fieldset>
			<legend>Diabetes Mellitus Screening Form</legend>
			<form action="/result" method="POST">
			
			
				<table cellspacing="15" cellpadding="15">
<tr>
	<td>
		<p>Select Your Gender:</p>
		<input type="radio"  name="sex" value="0" id="0">
		<label for="0">Male</label>			
		<input type="radio"  name="sex" value="1" id="1">
		<label for="1">Female</label>
	</td>
	<td>
		<p>Select Your Location:</p>
		<input type="radio"  name="residence" value="1" id="1">
		<label for="1">Town</label>				
		<input type="radio"  name="residence" value="0" id="0">
		<label for="0">Village</label>
	</td>
		<td>
		<p>Do You Drink Alcohol?</p>
		<input type="radio"  name="alcohol" value="1" id="1">
		<label for="1">Yes.</label>				
		<input type="radio"  name="alcohol" value="0" id="0">
		<label for="0">No.</label>
	</td>
	<td>
		<p>Do You Smoke?</p>
		<input type="radio"  name="smoker" value="1" id="1">
		<label for="1">Yes.</label>			
		<input type="radio"  name="smoker" value="0" id="0">
		<label for="0">No.</label>
		
	 </td>
	
 </tr>
 <tr>
	<td>
		Please Enter Your Age:<input class="form-input" style="font-size: 10pt; height: 20px; width:200px;" type="text" name="age" placeholder="Enter Your Age:"><br>
	 </td>
	<td> 
		Enter Your Pressure:<input class="form-input" style="font-size: 10pt; height: 20px; width:200px;" type="text" name="sbp" placeholder="Systollic Blood Pressure">
	</td>
	<td>
		Enter Your Pressure:<input class="form-input" style="font-size: 10pt; height: 20px; width:200px;" type="text" name="dbp" placeholder="Distollic Blood Pressure">
	</td>
	<td>
		Body mass Index:<input class="form-input" style="font-size: 10pt; height: 20px; width:200px;" type="text" name="bmi" placeholder="Body Mass Index (kg/m²)">
	</td>
 </tr>
<tr>
	<td>
		<p>Have Family Member with Diabetes?</p>
		<input type="radio"  name="fhd" value="1" id="1">
		<label for="1">Yes.</label>				
		<input type="radio"  name="fhd" value="0" id="0">
		<label for="0">No.</label>
	</td>
	<td>
		<p>Are You Hypertensive?</p>
		<input type="radio"  name="hypertension" value="1" id="1">
		<label for="1">Yes.</label>				
		<input type="radio"  name="hypertension" value="0" id="0">
		<label for="0">No.</label>
	</td>
	<td>
		<p>Are You Obese?</p>
		<input type="radio"  name="obesity" value="1" id="1">
		<label for="1">Yes.</label>				
		<input type="radio"  name="obesity" value="0" id="0">
		<label for="0">No.</label>
	</td>
	 <td>
		<p>Are You Physically Inactive?</p>
		<input type="radio"  name="physically_inactive" value="1" id="1">
		<label for="1">Yes.</label>			
		<input type="radio"  name="physically_inactive" value="0" id="0">
		<label for="0">No.</label>
		
	 </td>
 </tr>
 
</table>
        		<input type="submit" class="prediction" value="Predict">
		
				
        	</form>
		</fieldset>
		
			
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
           <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
           <p class='footer-description'>Created with Love by Henry Semakula.</p>
       </div>

    </body>
</html>
