
<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Diabetes Mellitus Prediction</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
           <h5 class='container-heading'><span class="heading_font">Screening Tool for Diabetes Mellitus.</span></h5><br>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}
			
			<form action="/result" method="POST">
			
			
				<p>Select Your Gender:
					<input type="radio"  name="sex" value="0"> Male
					<input type="radio"  name="sex" value="1"> Female
				</p>
				<p>Select Your Location:
					<input type="radio"  name="residence" value="0"> Village
					<input type="radio"  name="residence" value="1"> Town
				</p>
				It's Your Age: <input class="form-input" style="font-size: 10pt; height: 20px; width:190px;" type="text" name="age" placeholder="Age  eg. 30 Years "><br>
				<p>A Family Member with Diabetes?
					<input type="radio"  name="fhd" value="0"> No.
					<input type="radio"  name="fhd" value="1"> Yes.
				</p>

				<p>Do You Take Alcohol?
					<input type="radio"  name="alcohol" value="0"> No.
					<input type="radio"  name="alcohol" value="1"> Yes.
				</p>

				<p>Do You Smoke?
					<input type="radio"  name="smoker" value="0"> No.
					<input type="radio"  name="smoker" value="1"> Yes.
				</p>
                Pressure: <input class="form-input" style="font-size: 10pt; height: 20px; width:217px;" type="text" name="sbp" placeholder="Systollic Blood Pressure e.g 120mmHg"><br>
                Pressure: <input class="form-input" style="font-size: 10pt; height: 20px; width:217px;" type="text" name="dbp" placeholder="Distollic Blood Pressure e.g 80mmHg"><br>
                Enter BMI: <input class="form-input" style="font-size: 10pt; height: 20px; width:212px;" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1"><br>
				 <p>Are You Hypertensive?
					<input type="radio"  name="hypertension" value="0"> No.
					<input type="radio"  name="hypertension" value="1"> Yes.
				</p>
				<p>Are You Obese?
					<input type="radio"  name="obesity" value="0"> No.
					<input type="radio"  name="obesity" value="1"> Yes.
				</p>
				<p>Are You Physically Inactive?
					<input type="radio"  name="physically_inactive" value="0"> No.
					<input type="radio"  name="physically_inactive" value="1"> Yes.
				</p>
        		<input type="submit" class="prediction" value="Predict">
		
				
        	</form>
		
			
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
           <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
           <p class='footer-description'>Created with Love by Henry Semakula.</p>
       </div>

    </body>
</html>
